<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not Found | 404</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="../../static/error.css">
</head>
<body>
    {{>navBar}}
    <div id="outer">
    <div id="inner">
    <h1> {{statusCode}} </h1>
    <h1> {{message}} </h1>
    </div>
    <button> <a href="/">Go Home</a> </button>
    </div>
     {{>footer}}
</body>
</html>