<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../static/index.css">
    <link rel="stylesheet" href="../../static/home.css">

</head>
<body>
    {{>navBar}}
    <h1 id="header">Weather App</h1>
    <div id="container">
        <div class="outer">
            <div class="inner">
                <h1>About us</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam natus quia facilis cumque officiis itaque maxime eum, nisi, veritatis earum ratione suscipit ab ipsam architecto reprehenderit et beatae nulla fuga! Tempore nisi, tenetur sunt nemo vitae labore dignissimos. Quam facere quo dolorum libero maxime adipisci in. At reprehenderit, architecto voluptate voluptatibus iusto voluptas odio aperiam officia neque aliquam repellat placeat delectus illum vitae ipsa eum sequi? Natus quibusdam nostrum, illo magnam repellat corporis maiores doloribus mollitia dignissimos repellendus est ipsam nihil exercitationem voluptatem non aliquid culpa esse? Cupiditate tempore sint odit placeat praesentium soluta obcaecati a voluptates nam quas itaque ex, dolores non. Ea qui nostrum velit labore quidem magni consequatur quibusdam, reprehenderit ab pariatur modi nesciunt illo ex cupiditate ut ad vero eum incidunt, quae fuga eos optio. Non quo sit odit repellendus recusandae est autem ipsam unde id quod mollitia cumque perspiciatis, ut accusantium commodi, eveniet aliquid magni vero voluptatum dicta consequuntur nam aspernatur inventore delectus. Quasi dolor adipisci totam iusto magnam sunt eveniet amet incidunt eaque voluptate nesciunt a vitae blanditiis ducimus, quo impedit doloribus tenetur quos maiores ipsa ut ea est! Obcaecati dignissimos ullam iure voluptates voluptatibus beatae animi! Temporibus accusantium officiis reiciendis perspiciatis adipisci inventore accusamus, nihil iusto, odio enim natus expedita, delectus pariatur qui debitis a voluptas reprehenderit cum quia veritatis. Iste quisquam nulla perspiciatis obcaecati sed exercitationem doloribus consequuntur nesciunt consequatur, aliquid sit eligendi quaerat voluptatibus voluptatem quibusdam neque totam suscipit minus? Minima tenetur, omnis non provident fugiat aliquam rem. Ea quisquam expedita porro. Placeat dolores corporis reprehenderit a qui aut neque quis debitis aperiam itaque. Non, at debitis minus architecto neque expedita enim, delectus consequuntur iure inventore dignissimos laudantium magni, nobis nisi vel vero. Perspiciatis soluta aliquid ullam vitae voluptatibus praesentium, quae dolorem maiores harum, saepe error at provident quibusdam inventore a ipsum possimus animi aut iusto tenetur aliquam. Est sint cumque sequi tempore aut? Sed doloribus porro totam, incidunt distinctio odio ab alias voluptatibus repudiandae eveniet rem itaque! Cumque, velit? Qui quibusdam hic vero molestiae mollitia, iure obcaecati fuga veniam ex?</p>
            </div>
        </div>

        <div class="outer">
                <div class="inner" id="innerRight">
                    <figure id="figure">
                    <div>
                    <img src="../../static/images/cloud.jpg" alt="cloud" title="Clouds" >
                    <img src="../../static/images/clear.jpg" alt="cloud" title="Clear">
                    <img src="../../static/images/rain.jpg" alt="cloud" title="Rain">
                    <img src="../../static/images/fog.jpg" alt="cloud" title="fog">
                    <img src="../../static/images/snow.jpg" alt="cloud" title="Snow">                
                    <img src="../../static/images/haze.jpg" alt="cloud" title="haze">                
                    <img src="../../static/images/thunderstorm.jpg" alt="cloud" title="Thunderstorm">
                    </div>
                    </figure>
                </div>
        </div>    
    </div>
    {{>footer}}

    <script src="../../static/index.js"></script>
</body>
</html>